<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Seo -->
    <meta name="Description" content="Rush Web App - PWA">

    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/images/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="512x512" href="/images/android-chrome-512x512.png">
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="icon" href="/images/favicon.ico">

    <!-- PWA -->
    <link rel="manifest" href="./manifest.json" />

    <!-- ios support -->
    <link rel="apple-touch-icon" sizes="128x128" href="/images/appicons/128x128.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/images/appicons/144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/images/appicons/152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="192x192" href="/images/appicons/192x192.png" />
    <link rel="apple-touch-icon" sizes="512x512" href="/images/appicons/512x512.png" />
    <meta name="apple-mobile-web-app-status-bar" content="#0085FF" />
    <meta name="theme-color" content="#0085FF" />

    <title>Rush Web App</title>
  </head>
  <body>
    
    <!-- Header -->
    ${ require('../components/header.html') }

    <!-- Main Content -->
    <main class="main-container mobile-layout-1" role="main">
      
      <!-- Map -->
      <div id="map-wrapper"></div>

      <!-- Left Column -->
      <div class="left-column">
        <!-- Block Wrapper -->
        <div class="blocks-wrapper">
          <!-- Block -->
          <div class="block">
            <!-- Card -->
            <div class="card card-size-1">
              <div class="card-body px-4 py-4-5">
                <form class="needs-validation" novalidate>
                  <h4 class="font-weight-bold text-gray-900 mb-3 font-metropolis">Track Your Order Live</h4>
                  <div class="font-weight-medium text-gray-600 mb-4">Enter your tracking code, e-mail address or phone number</div>

                  <input type="email" id="inputEmail" class="form-control text-box-variant-1" placeholder="E-mail, tracking code or phone number" required />
                  <div class="invalid-feedback">
                    Error message will be here
                  </div>
                  
                  <button class="btn btn-primary-500 btn-block mt-3" type="submit">Track Order</button>
                  <button class="btn btn-link btn-block font-weight-bold text-primary-500 mt-1" type="button">Need help?</button>
                </form>
              </div>
            </div>
            <!-- Card - END -->
          </div>
          <!-- Block - END -->
        </div>
        <!-- Block Wrapper - END -->
      </div>
      <!-- Left Column - END -->

      <!-- Notify -->
      <div class="notification-wrapper">
        <div class="notification">
          <a href="javascript:void(0)" class="notification-close">
            <img src="/images/icons/gray-x-circle.svg" />
          </a>
          <div class="notification-icon">
            ${  require('../components/icons/white-info.html') }
          </div>
          <div class="notification-text">
            <b class="notification-title">Merchant's Note</b>
            <div class="notification-description leading-1-4">Shipments may be delayed from 8 Jun to 18 Jun because of the upcoming Chinese new year.</div>
          </div>
        </div>
      </div>
      <!-- Notify - END -->
    </main>
    
  <!-- Mapbox -->
  <link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />
  <script src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
  </body>
</html>