<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Rush Web App</title>
  </head>
  <body>
    
    <!-- Header -->
    ${ require('../components/header.html') }

    <!-- Main Content -->
    <main class="main-container" role="main">
      
      <!-- Map -->
      ${  require('../components/map.html') }

      <div class="left-column">
        
        <div class="block">
          <!-- Card #1 -->
          <div class="card card-size-1">
            <div class="card-body px-4 py-4-5">
              <form class="needs-validation" novalidate>
                <h4 class="font-weight-bold text-gray-900 mb-3 font-metropolis">Track Your Order Live</h4>
                <div class="font-weight-medium text-gray-600 mb-4">Enter your tracking code, e-mail address or phone number</div>

                <input type="email" id="inputEmail" class="form-control text-box-variant-1" placeholder="E-mail, tracking code or phone number" required />
                <div class="invalid-feedback">
                  Error message will be here
                </div>
                
                <button class="btn btn-primary-500 btn-block mt-3" type="submit">Track Order</button>
                <button class="btn btn-link btn-block font-weight-bold text-primary-500 mt-1" type="button">Need help?</button>
              </form>
            </div>
          </div>
        </div>

      </div>

    </main>
    

  </body>
</html>