<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Seo -->
    <meta name="Description" content="Rush Web App - PWA">

    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/images/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="512x512" href="/images/android-chrome-512x512.png">
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="icon" href="/images/favicon.ico">

    <!-- PWA -->
    <link rel="manifest" href="./manifest.json" />

    <!-- ios support -->
    <link rel="apple-touch-icon" sizes="128x128" href="/images/appicons/128x128.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/images/appicons/144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/images/appicons/152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="192x192" href="/images/appicons/192x192.png" />
    <link rel="apple-touch-icon" sizes="512x512" href="/images/appicons/512x512.png" />
    <meta name="apple-mobile-web-app-status-bar" content="#0085FF" />
    <meta name="theme-color" content="#0085FF" />

    <!-- Mapbox Styles -->
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />

    <title>Rush Web App</title>
  </head>
  <body>
    
    <!-- Header -->
    ${ require('../components/header.html') }

    <!-- Main Content -->
    <main class="main-container mobile-layout-1" role="main">
      
      <!-- Map -->
      <div id="map-wrapper"></div>

      <!-- Left Column -->
      <div class="left-column">
        <!-- Block Wrapper -->
        <div class="blocks-wrapper">
          <!-- Block -->
          <div class="block max-height-desktop active">
            <!-- Card -->
            <div class="card card-size-1">
              <div class="card-body flex-grow-0 p-3 bg-primary-050">
                <h4 class="font-weight-bold text-gray-900 mb-3 font-metropolis d-flex align-items-center">
                  <a href="javascript:void(0)">
                    <img src="/images/icons/blue-arrow-circle-left.svg" class="mr-2" />
                  </a>
                  <div class="text-truncate">Select one to track</div>
                </h4>
                <p class="text-gray-600 font-weight-medium mb-0">
                  We have found 2 different shipments coming to your way.
                </p>
              </div>
              <div class="card-body p-0">
                <div class="scrollable-wrapper">
                  <div class="scrollable">
                    <!-- Item 1 -->
                    <div class="listing-type-1 flex-column">
                      <div class="font-weight-bold font-metropolis d-flex justify-content-between mb-3">
                        <span class="text-truncate">H&M Special Collection</span>
                        <span class="text-gray-500 flex-shrink-0 ml-3">10 June</span>
                      </div>
                      <div class="d-flex align-items-center justify-content-between">
                        <div class="product-image">
                          <div class="p-image"><img src="/images/product-2.png" /></div>
                          <img class="product-image-courrier" src="/images/icons/ups-courrier.svg" />
                        </div>
                        <div class="col p-0 font-weight-bold font-metropolis text-truncate">
                          <div class="d-flex">
                            <div class="text-truncate">UPS Cargo</div>
                            <div class="text-gray-500 text-truncate flex-shrink-0">&nbsp;- #1423412445</div>
                          </div>
                          <div class="text-primary-500 text-truncate">ETA: Jun 16 ‘20</div>
                        </div>
                        <div class="ml-2">
                          <a href="javascript:void(0)">
                            <img src="/images/icons/blue-arrow-circle-right.svg" />
                          </a>
                        </div>
                      </div>
                    </div>
                    <!-- Item 2 -->
                    <div class="listing-type-1 flex-column">
                      <div class="font-weight-bold font-metropolis d-flex justify-content-between mb-3">
                        <span class="text-truncate">Hooded Long-Sleeve Fleece</span>
                        <span class="text-gray-500 flex-shrink-0 ml-3">10 June</span>
                      </div>
                      <div class="d-flex align-items-center justify-content-between">
                        <div class="product-image">
                          <div class="p-image"><img src="/images/product-2.png" /></div>
                          <img class="product-image-courrier" src="/images/icons/ups-courrier.svg" />
                        </div>
                        <div class="col p-0 font-weight-bold font-metropolis text-truncate">
                          <div class="d-flex">
                            <div class="text-truncate">UPS Cargo</div>
                            <div class="text-gray-500 text-truncate flex-shrink-0">&nbsp;- #1423412445</div>
                          </div>
                          <div class="text-primary-500 text-truncate">ETA: Jun 16 ‘20</div>
                        </div>
                        <div class="ml-2">
                          <a href="javascript:void(0)">
                            <img src="/images/icons/blue-arrow-circle-right.svg" />
                          </a>
                        </div>
                      </div>
                    </div>
                    <!-- Item 3 -->
                    <div class="listing-type-1 flex-column">
                      <div class="font-weight-bold font-metropolis d-flex justify-content-between mb-3">
                        <span class="text-truncate">Long-Sleeve Fleece Sweatshirt</span>
                        <span class="text-gray-500 flex-shrink-0 ml-3">10 June</span>
                      </div>
                      <div class="d-flex align-items-center justify-content-between">
                        <div class="product-image">
                          <div class="p-image"><img src="/images/product-2.png" /></div>
                          <img class="product-image-courrier" src="/images/icons/ups-courrier.svg" />
                        </div>
                        <div class="col p-0 font-weight-bold font-metropolis text-truncate">
                          <div class="d-flex">
                            <div class="text-truncate">UPS Cargo</div>
                            <div class="text-gray-500 text-truncate flex-shrink-0">&nbsp;- #1423412445</div>
                          </div>
                          <div class="text-primary-500 text-truncate">ETA: Jun 16 ‘20</div>
                        </div>
                        <div class="ml-2">
                          <a href="javascript:void(0)">
                            <img src="/images/icons/blue-arrow-circle-right.svg" />
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Card - END -->
          </div>
          <!-- Block - END -->
        </div>
        <!-- Block Wrapper - END -->
      </div>
      <!-- Left Column - END -->

      <!-- Notify -->
      <div class="notification-wrapper">
        <div class="notification">
          <a href="javascript:void(0)" class="notification-close">
            <img src="/images/icons/gray-x-circle.svg" />
          </a>
          <div class="notification-icon">
            ${  require('../components/icons/white-info.html') }
          </div>
          <div class="notification-text">
            <b class="notification-title">Merchant's Note</b>
            <div class="notification-description leading-1-4">Shipments may be delayed from 8 Jun to 18 Jun because of the upcoming Chinese new year.</div>
          </div>
        </div>
      </div>
      <!-- Notify - END -->
    </main>
    

  </body>
</html>