<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Seo -->
    <meta name="Description" content="Rush Web App - PWA">

    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/images/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="512x512" href="/images/android-chrome-512x512.png">
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="icon" href="/images/favicon.ico">

    <!-- PWA -->
    <link rel="manifest" href="./manifest.json" />

    <!-- ios support -->
    <link rel="apple-touch-icon" sizes="128x128" href="/images/appicons/128x128.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/images/appicons/144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/images/appicons/152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="192x192" href="/images/appicons/192x192.png" />
    <link rel="apple-touch-icon" sizes="512x512" href="/images/appicons/512x512.png" />
    <meta name="apple-mobile-web-app-status-bar" content="#0085ff" />
    <meta name="theme-color" content="#0085ff" />

    <title>Rush Web App</title>
  </head>
  <body>
    
    <!-- Loader -->
    <div class="initial-loader">
      <img src="/images/initial_loader.svg" />
    </div>
    
    <!-- Header -->
    <nav class="navbar fixed-top">
      ${ require('../components/header.html') }
    </nav>

    <!-- Main Content -->
    <main class="main-container" role="main">
      
      <!-- Map -->
      <div id="map-wrapper"></div>

      <!-- Left Column -->
      <div class="left-column">
        <!-- Elastic scroll hack -->
        <div class="ios-elastic-scroll-hack"></div>
        
        <!-- Block Wrapper -->
        <div class="blocks-wrapper not-stretched">
          
          <!-- Block -->
          <div class="block active">
            <!-- Card -->
            <div class="card card-size-1">
              <div class="card-body p-0 leading-1-4">
                <!-- Item 1 -->
                <div class="listing-type-1 align-items-center">
                  <div class="product-image p-0 mr-3 align-self-start">
                    <div class="product-image-courrier-2"><img src="/images/icons/ups-courrier-big.png" /></div>
                  </div>
                  <div class="col p-0 font-weight-bold text-truncate leading-1-4">
                    <div class="text-truncate">UPS Cargo</div>
                    <div class="text-primary-500 text-truncate">ETA: Jun 16 ‘20</div>
                  </div>
                  <div class="d-flex align-items-center ml-3">
                    <a href="javascript:void(0)" class="icon-type-1 bg-primary-050 text-primary-500 mr-2">
                      ${  require('../components/icons/white-phone.html') }
                    </a>
                    <a href="javascript:void(0)" class="icon-type-1 bg-primary-050 text-primary-500">
                      ${  require('../components/icons/white-link.html') }
                    </a>
                  </div>
                </div>
                <!-- Item 2 -->
                <div class="listing-type-1 flex-column">
                  <div class="text-primary-900 font-weight-bold text-truncate">
                    ORDER INFO
                  </div>
                  <!-- Order 1 -->
                  <div class="d-flex align-items-center justify-content-between mt-2">
                    <div class="product-image align-self-start p-0 mr-3">
                      <div class="p-image align-items-center"><img src="/images/product-3.png" /></div>
                    </div>
                    <div class="col p-0 font-weight-bold font-metropolis text-truncate">
                      <div class="font-weight-medium text-gray-500 dark-primary-050 text-truncate">IKEA Desk 160x80x70cm</div>
                      <div class="text-gray-600 text-sm text-truncate">Amount: 1</div>
                    </div>
                    <div class="text-gray-600 font-weight-bold ml-3">
                      $49,90
                    </div>
                  </div>
                  <!-- Order 2 -->
                  <div class="d-flex align-items-center justify-content-between mt-2">
                    <div class="product-image align-self-start p-0 mr-3">
                      <div class="p-image align-items-center"><img src="/images/product-4.png" /></div>
                    </div>
                    <div class="col p-0 font-weight-bold font-metropolis text-truncate">
                      <div class="font-weight-medium text-gray-500 dark-primary-050 text-truncate">Merlin L Couch Exclusive</div>
                      <div class="text-gray-600 text-sm text-truncate">Amount: 1</div>
                    </div>
                    <div class="text-gray-600 font-weight-bold ml-3">
                      $649,90
                    </div>
                  </div>
                  <!-- Order 3 -->
                  <div class="d-flex align-items-center justify-content-between mt-2">
                    <div class="product-image align-self-start p-0 mr-3">
                      <div class="p-image align-items-center"><img src="/images/product-5.png" /></div>
                    </div>
                    <div class="col p-0 font-weight-bold font-metropolis text-truncate">
                      <div class="font-weight-medium text-gray-500 dark-primary-050 text-truncate">GoldSit Modular Chair</div>
                      <div class="text-gray-600 text-sm text-truncate">Amount: 2</div>
                    </div>
                    <div class="text-gray-600 font-weight-bold ml-3">
                      $149,90
                    </div>
                  </div>
                  <!-- Total -->
                  <div class="d-flex align-items-center justify-content-between mt-4">
                    <div class="col p-0 font-weight-bold text-truncate">
                      <div class="font-weight-medium text-gray-500 text-truncate">Payment Method</div>
                      <div class="text-gray-900 text-truncate">On Delivery</div>
                    </div>
                    <div class="font-weight-bold text-truncate text-right">
                      <div class="font-weight-medium text-gray-500 text-truncate">Total Amount</div>
                      <div class="text-gray-900 text-truncate">$149,90</div>
                    </div>
                  </div>
                </div>
                <!-- Item 3 -->
                <div class="listing-type-1 flex-column">
                  <div class="text-primary-900 font-weight-bold text-truncate">
                    ADDRESS
                  </div>
                  <!-- Address -->
                  <div class="mt-2">
                    <div class="font-weight-medium text-gray-500 text-truncate">Address</div>
                    <div class="text-gray-900 font-weight-bold text-truncate">123 Main Street New York, NY 10030</div>
                  </div>
                  <!-- Receiver(s) -->
                  <div class="mt-2">
                    <div class="font-weight-medium text-gray-500 text-truncate">Receiver(s)</div>
                    <div class="text-gray-900 font-weight-bold text-truncate">Slav Stanislov - Kiril Kirilov</div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Card - END -->
          </div>
          <!-- Block - END -->
        </div>
        <!-- Block Wrapper - END -->
      </div>
      <!-- Left Column - END -->

      <!-- Notify -->
      <div class="notification-wrapper">
        <div class="notification">
          <a href="javascript:void(0)" class="notification-close">
            <img src="/images/icons/gray-x-circle.svg" />
          </a>
          <div class="notification-icon">
            ${  require('../components/icons/white-info.html') }
          </div>
          <div class="notification-text">
            <b class="notification-title">Merchant's Note</b>
            <div class="notification-description leading-1-4">Shipments may be delayed from 8 Jun to 18 Jun because of the upcoming Chinese new year.</div>
          </div>
        </div>
      </div>
      <!-- Notify - END -->
    </main>

    <!-- Popup 1 - Html -->
    ${  require('../components/popup-1.html') }
    
    <!-- Popup 2 - Html -->
    ${  require('../components/popup-2.html') }
    
    <!-- Popup 3 - Html -->
    ${  require('../components/popup-3.html') }
    
    <!-- Popup 4 - Html -->
    ${  require('../components/popup-4.html') }
  
  <!-- Register Service worker -->
  <script src='/regServiceWorker.js'></script>

  <!-- Mapbox -->
  <link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />
  <script src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js' defer></script>
  </body>
</html>