<nav class="navbar w fixed-top">
  <!-- Promotional Alert -->
  <div class="promotional-alert">
    <div class="content">
      <div class="text">
        Spend <span class="text-primary-500">$50</span> to get <span class="text-primary-500">free shipping!</span>
      </div>
    </div>
  </div>
  <!-- Header -->
  <div class="d-flex justify-content-between align-items-center flex-grow-1 navbar-expand-md">
    <a class="navbar-brand" href="/">Logo</a>

    <div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
        <div class="lines">${  require('../components/icons/mobile-menu.html') }</div>
        <div class="cancel">${  require('../components/icons/mobile-menu-close.html') }</div>
      </button>

      <div class="collapse navbar-collapse" id="main-menu">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown">
              <span class="arrow">
                ${  require('../components/icons/arrow-circle-left.html') }
              </span>
              F.A.Q.
            </a>

            <!-- Dropdown -->
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <div class="dropdown-content px-0">
                <!-- Card -->
                <div class="card card-size-2 rounded-0" id="faq-accordion">
                  <div class="card-body p-0">
                    <div class="scrollable-wrapper">
                      <div class="scrollable">
                          <!-- Item 1 -->
                          <div class="listing-type-1 font-metropolis font-weight-bold flex-column more-padding pt-0">
                            <a href="#faq-1" class="d-flex align-items-center justify-content-between no-link" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="faq-1">
                              <div class="mr-2">If I do not have my tracking number, is it still possible to track my shipment?</div>
                              <div>
                                <img class="collapsed w-2 h-2" src="/images/icons/orange-cheveron-down.svg" />
                                <img class="expanded w-2 h-2" src="/images/icons/orange-cheveron-up.svg" />
                              </div>
                            </a>
                            <div class="collapse" id="faq-1" data-parent="#faq-accordion">
                              <p class="text-gray-500 text-sm mt-3">
                                Yes, under certain conditions. We strongly advise you to make a record of your tracking number however, if you have the shipper's reference number, you can use our online Shipper’s Reference Tracking service.
                              </p>
                            </div>
                          </div>
                          <!-- Item 2 -->
                          <div class="listing-type-1 font-metropolis font-weight-bold more-padding flex-column">
                            <a href="#faq-2" class="d-flex align-items-center justify-content-between no-link" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="faq-2">
                              <div class="mr-2">I have tracked a shipment and been told to contact DHL. Why is this?</div>
                              <div>
                                <img class="collapsed w-2 h-2" src="/images/icons/orange-cheveron-down.svg" />
                                <img class="expanded w-2 h-2" src="/images/icons/orange-cheveron-up.svg" />
                              </div>
                            </a>
                            <div class="collapse" id="faq-2" data-parent="#faq-accordion">
                              <p class="text-gray-500 text-sm mt-3">
                                Yes, under certain conditions. We strongly advise you to make a record of your tracking number however, if you have the shipper's reference number, you can use our online Shipper’s Reference Tracking service.
                              </p>
                            </div>
                          </div>
                          <!-- Item 3 -->
                          <div class="listing-type-1 font-metropolis font-weight-bold more-padding flex-column">
                            <a href="#faq-3" class="d-flex align-items-center justify-content-between no-link" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="faq-3">
                              <div class="mr-2">The tracking results I receive sometimes state “Sign up for notifications for this shipment.” What does that mean?</div>
                              <div>
                                <img class="collapsed w-2 h-2" src="/images/icons/orange-cheveron-down.svg" />
                                <img class="expanded w-2 h-2" src="/images/icons/orange-cheveron-up.svg" />
                              </div>
                            </a>
                            <div class="collapse" id="faq-3" data-parent="#faq-accordion">
                              <p class="text-gray-500 text-sm mt-3">
                                Yes, under certain conditions. We strongly advise you to make a record of your tracking number however, if you have the shipper's reference number, you can use our online Shipper’s Reference Tracking service.
                              </p>
                            </div>
                          </div>
                          <!-- Item 4 -->
                          <div class="listing-type-1 font-metropolis font-weight-bold flex-column more-padding pb-0">
                            <a href="#faq-4" class="d-flex align-items-center justify-content-between no-link" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="faq-4">
                              <div class="mr-2">My shipment is showing “Further details” with a (+) next to it. What does this mean?</div>
                              <div>
                                <img class="collapsed w-2 h-2" src="/images/icons/orange-cheveron-down.svg" />
                                <img class="expanded w-2 h-2" src="/images/icons/orange-cheveron-up.svg" />
                              </div>
                            </a>
                            <div class="collapse" id="faq-4" data-parent="#faq-accordion">
                              <p class="text-gray-500 text-sm mt-3">
                                Yes, under certain conditions. We strongly advise you to make a record of your tracking number however, if you have the shipper's reference number, you can use our online Shipper’s Reference Tracking service.
                              </p>
                            </div>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Card - END -->
              </div>
            </div>
            <!-- Dropdown - END -->
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown">
              <span class="arrow">
                ${  require('../components/icons/arrow-circle-left.html') }
              </span>
              Previous Shipments
            </a>

            <!-- Dropdown -->
            <div class="dropdown-menu" aria-labelledby="dropdown02">
              <div class="dropdown-content">
                <!-- Card -->
                <div class="card card-size-1 rounded-0">
                  <div class="card-body p-0">
                    <div class="scrollable-wrapper">
                      <div class="scrollable">
                          <!-- Item 1 -->
                          <a href="javascript:void(0)" class="listing-type-1 flex-column pt-0 no-link">
                            <div class="font-weight-bold font-metropolis d-flex justify-content-between mb-3">
                              <span class="text-truncate">Dell Notebook 15''</span>
                              <span class="text-gray-500 flex-shrink-0 ml-3">10 June</span>
                            </div>
                            <div class="d-flex align-items-center justify-content-between">
                              <div class="product-image align-self-start">
                                <div class="p-image"><img src="/images/product-2.png" /></div>
                                <div class="product-image-courrier"><img src="/images/icons/ups-courrier.png" /></div>
                              </div>
                              <div class="col p-0 font-weight-bold font-metropolis text-truncate">
                                <div class="d-flex">
                                  <div class="text-truncate">UPS Cargo</div>
                                  <div class="text-gray-500 text-truncate flex-shrink-0">&nbsp;- #1423412445</div>
                                </div>
                                <div class="text-success text-truncate">Delivered on Jun 16'10</div>
                              </div>
                            </div>
                          </a>
                          <!-- Item 2 -->
                          <a href="javascript:void(0)" class="listing-type-1 flex-column no-link">
                            <div class="font-weight-bold font-metropolis d-flex justify-content-between mb-3">
                              <span class="text-truncate">WD 2TB Elements Portable Lorem ipsum</span>
                              <span class="text-gray-500 flex-shrink-0 ml-3">10 June</span>
                            </div>
                            <div class="d-flex align-items-center justify-content-between">
                              <div class="product-image align-self-start">
                                <div class="p-image"><img src="/images/product-2.png" /></div>
                                <div class="product-image-courrier"><img src="/images/icons/ups-courrier.png" /></div>
                              </div>
                              <div class="col p-0 font-weight-bold font-metropolis text-truncate">
                                <div class="d-flex">
                                  <div class="text-truncate">UPS Cargo</div>
                                  <div class="text-gray-500 text-truncate flex-shrink-0">&nbsp;- #1423412445</div>
                                </div>
                                <div class="text-danger-light text-truncate">Failed on Jun 16'20</div>
                              </div>
                            </div>
                          </a>
                          <!-- Item 3 -->
                          <a href="javascript:void(0)" class="listing-type-1 flex-column no-link">
                            <div class="font-weight-bold font-metropolis d-flex justify-content-between mb-3">
                              <span class="text-truncate">AMD Ryzen 7 3700X 8-Core Lorem ipsum</span>
                              <span class="text-gray-500 flex-shrink-0 ml-3">10 June</span>
                            </div>
                            <div class="d-flex align-items-center justify-content-between">
                              <div class="product-image align-self-start">
                                <div class="p-image"><img src="/images/product-2.png" /></div>
                                <div class="product-image-courrier"><img src="/images/icons/ups-courrier.png" /></div>
                              </div>
                              <div class="col p-0 font-weight-bold font-metropolis text-truncate">
                                <div class="d-flex">
                                  <div class="text-truncate">UPS Cargo</div>
                                  <div class="text-gray-500 text-truncate flex-shrink-0">&nbsp;- #1423412445</div>
                                </div>
                                <div class="text-secondary-500 text-truncate">Forwarded on Jun 16'20</div>
                              </div>
                            </div>
                          </a>
                          <!-- Item 4 -->
                          <a href="javascript:void(0)" class="listing-type-1 flex-column no-link">
                            <div class="font-weight-bold font-metropolis d-flex justify-content-between mb-3">
                              <span class="text-truncate">WD 2TB Elements Portable Lorem ipsum</span>
                              <span class="text-gray-500 flex-shrink-0 ml-3">10 June</span>
                            </div>
                            <div class="d-flex align-items-center justify-content-between">
                              <div class="product-image align-self-start">
                                <div class="p-image"><img src="/images/product-2.png" /></div>
                                <div class="product-image-courrier"><img src="/images/icons/ups-courrier.png" /></div>
                              </div>
                              <div class="col p-0 font-weight-bold font-metropolis text-truncate">
                                <div class="d-flex">
                                  <div class="text-truncate">UPS Cargo</div>
                                  <div class="text-gray-500 text-truncate flex-shrink-0">&nbsp;- #1423412445</div>
                                </div>
                                <div class="text-primary-500 text-truncate">in Transit - ETA Jun 16'20</div>
                              </div>
                            </div>
                          </a>
                          <!-- Item 5 -->
                          <a href="javascript:void(0)" class="listing-type-1 flex-column pb-0 no-link">
                            <div class="font-weight-bold font-metropolis d-flex justify-content-between mb-3">
                              <span class="text-truncate">WD 2TB Elements Portable Lorem ipsum</span>
                              <span class="text-gray-500 flex-shrink-0 ml-3">10 June</span>
                            </div>
                            <div class="d-flex align-items-center justify-content-between">
                              <div class="product-image align-self-start">
                                <div class="p-image"><img src="/images/product-2.png" /></div>
                                <div class="product-image-courrier"><img src="/images/icons/ups-courrier.png" /></div>
                              </div>
                              <div class="col p-0 font-weight-bold font-metropolis text-truncate">
                                <div class="d-flex">
                                  <div class="text-truncate">UPS Cargo</div>
                                  <div class="text-gray-500 text-truncate flex-shrink-0">&nbsp;- #1423412445</div>
                                </div>
                                <div class="text-gray-500 text-truncate">Pending - ETA Jun 16'20</div>
                              </div>
                            </div>
                          </a>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Card - END -->
              </div>
            </div>
            <!-- Dropdown - END -->
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-toggle="dropdown">
              <span class="arrow">
                ${  require('../components/icons/arrow-circle-left.html') }
              </span>
              <span class="d-md-none mr-3">Change Language</span>
              ${  require('../components/icons/lang-menu-item.html') }
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdown03">
              <div class="dropdown-content">
                <!-- Card -->
                <div class="scrollable-wrapper px-2">
                  <div class="scrollable">
                    <a class="dropdown-item" href="#">
                      <img src="/images/icons/uk-flag.png" class="mr-2 w-2 h-2" /> English (UK)
                    </a>
                    <a class="dropdown-item" href="#">
                      <img src="/images/icons/usa-flag.png" class="mr-2 w-2 h-2" /> English (USA)
                    </a>
                    <a class="dropdown-item" href="#">
                      <img src="/images/icons/bulgaria-flag.png" class="mr-2 w-2 h-2" /> българия
                    </a>
                    <a class="dropdown-item" href="#">
                      <img src="/images/icons/germany-flag.png" class="mr-2 w-2 h-2" /> Deutsche
                    </a>
                    <a class="dropdown-item" href="#">
                      <img src="/images/icons/turkey-flag.png" class="mr-2 w-2 h-2" /> Türkçe
                    </a>
                    <a class="dropdown-item" href="#">
                      <img src="/images/icons/france-flag.png" class="mr-2 w-2 h-2" /> Française
                    </a>
                  </div>
                </div>
                <!-- Card - END -->
              </div>
            </div>
          </li>
          <li class="nav-item d-none d-md-flex">
            <a class="nav-link" href="#">Terms of Service</a>
          </li>
          <li class="nav-item d-none d-md-flex">
            <a class="nav-link" href="#">Privacy Policy</a>
          </li>
        </ul>

        <!-- Mobile bottom links -->
        <ul class="header-bottom-links d-md-none d-flex">
          <li class="nav-item">
            <a class="nav-link" href="#">Terms of Service</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Privacy Policy</a>
          </li>
        </ul>

        <!-- Dark/Light -->
        <a href="javascript:void(0)" class="toggle-dark-mode-btn mt-6 mt-md-0" data-toggle-dark-mode>
          <!-- Light Mode -->
          ${  require('../components/icons/light-mode-switcher.html') }
          <!-- Dark Mode -->
          ${  require('../components/icons/dark-mode-switcher.html') }
        </a>
        
      </div>
    </div>
  </div>
</nav>