<div class="modal fade" id="notificationManagementModal" tabindex="-1" role="dialog" data-show="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div  class="modal-inside">
      <button type="button" class="modal-close-button" data-dismiss="modal" aria-label="Close"></button>
      <div class="modal-content p-4">
        <div class="modal-body font-metropolis">
          <h5 class="font-weight-bold mb-4">Notification Management</h5>

          <h6 class="text-gray-700 font-weight-bold">Contact details:</h6>
          <div class="listing-type-1 border-0 py-3 px-0 font-weight-bold">
            <div class="col p-0 text-gray-700 text-truncate">
              Your Email
            </div>
            <div class="text-truncate ml-3">
              slav@tryrush.io
            </div>
          </div>
          <div class="listing-type-1 border-0 py-3 px-0 font-weight-bold">
            <div class="col p-0 text-gray-700 text-truncate">
              Your Phone
            </div>
            <div class="text-truncate ml-3">
              +359 895 080808
            </div>
          </div>

          <h6 class="text-gray-700 font-weight-bold mt-4">Shipment Updates</h6>
          <div class="px-4 mx-n4 bg-gray-050">
            <div class="listing-type-1 align-items-center border-0 py-3 px-0">
              <h6 class="flex-grow-1 d-flex align-items-center text-truncate font-weight-bold m-0">
                <img class="mr-2" src="/images/hm-paris.png" /> H&M Paris
              </h6>
              <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="customSwitch1">
                <label class="custom-control-label" for="customSwitch1"></label>
              </div>
            </div>
            <div class="listing-type-1 align-items-center border-0 py-3 px-0">
              <h6 class="flex-grow-1 d-flex align-items-center text-truncate font-weight-bold m-0">
                <img class="mr-2" src="/images/hm-paris.png" /> H&M Paris
              </h6>
              <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="customSwitch2">
                <label class="custom-control-label" for="customSwitch2"></label>
              </div>
            </div>
          </div>
          
          <div class="mt-md-6 mt-4 text-center flex-grow-1 d-flex align-items-end justify-content-center">
            <a href="javascript:void(0)" class="btn-link text-primary-500">Unsubscribe from all notifications</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>