<div class="modal fade" id="notificationModal" tabindex="-1" role="dialog" aria-labelledby="notificationModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div  class="modal-inside" style="max-width: 360px;">
      <button type="button" class="modal-close-button" data-dismiss="modal" aria-label="Close"></button>
      <div class="modal-content p-4">
        <div class="modal-body text-center">
          <h6 class="font-weight-bold mb-3 font-metropolis">Notification Management</h6>
          <p>
            Please enter associated phone number or e-mail address so we can send a link where you can manage your notifications
          </p>

          <input type="email" id="inputEmail" class="form-control text-box-variant-1" placeholder="E-mail, tracking code or phone number" required />
          <div class="invalid-feedback">
            Error message will be here
          </div>
          
          <button class="btn btn-primary-500 btn-block mt-3" type="submit">Send Link</button>
        </div>
      </div>
    </div>
  </div>
</div>