<div id="popup-4" class="d-none">
  <div class="card">
    <div class="card-body p-0 leading-1-4">
        <!-- Item 1 -->
        <div class="listing-type-1 flex-column leading-1-4">
          <h6 class="flex-grow-1 d-flex align-items-center text-truncate mb-3 font-weight-bold font-metropolis">
            <img class="mr-2" src="/images/hm-paris.png" /> H&M Paris
          </h6>
          Paris, France · In Hashtag<br/>
          Paris Open ⋅ Closes 8:30PM · +33 805 0
        </div>
        <!-- Item 2 -->
        <div class="listing-type-1 last-border leading-1-4">
          <div class="font-weight-bold font-metropolis">
            Have a question about your shipment?
          </div>
          <div class="d-flex align-items-center ml-3">
            <a href="javascript:void(0)" class="icon-type-1 bg-primary-050 text-primary-500 mr-3">
              ${  require('../components/icons/white-phone.html') }
            </a>
            <a href="javascript:void(0)" class="icon-type-1 bg-primary-050 text-primary-500 mr-3">
              ${  require('../components/icons/white-link.html') }
            </a>
            <a class="btn btn-sm bg-primary-500 text-white" href="javascript:void(0)">Contact</a>
          </div>
        </div>
    </div>
  </div>
</div>