<div id="popup-2" class="d-none">
  <div class="card">
    <div class="card-body p-0 leading-1-4">
        <!-- Item 1 -->
        <div class="listing-type-1 align-items-center">
          <div class="product-image p-0 mr-3 align-self-start">
            <div class="product-image-courrier-2"><img src="/rush-frontend/images/icons/ups-courrier-big.png" /></div>
          </div>
          <div class="col p-0 font-weight-bold text-truncate leading-1-4">
            <div class="text-truncate">Hooded Long-Sleeve Fleece</div>
            <div class="text-primary-500 text-truncate">ETA: Jun 16 ‘20</div>
          </div>
          <div class="d-flex align-items-center ml-3">
            <a href="javascript:void(0)" class="icon-type-1 bg-primary-050 text-primary-500 mr-2">
              ${  require('../components/icons/white-phone.html') }
            </a>
            <a href="javascript:void(0)" class="icon-type-1 bg-primary-050 text-primary-500">
              ${  require('../components/icons/white-link.html') }
            </a>
          </div>
        </div>
        <!-- Item 2 -->
        <div class="listing-type-1 flex-column">
          <div class="text-primary-900 font-weight-bold text-truncate">
            ORDER INFO
          </div>
          <!-- Order 1 -->
          <div class="d-flex align-items-center justify-content-between mt-2">
            <div class="product-image align-self-start p-0 mr-3">
              <div class="p-image align-items-center"><img src="/rush-frontend/images/product-3.png" /></div>
            </div>
            <div class="col p-0 font-weight-bold font-metropolis text-truncate">
              <div class="font-weight-medium text-gray-500 dark-primary-050 text-truncate">IKEA Desk 160x80x70cm</div>
              <div class="text-gray-600 text-sm text-truncate">Amount: 1</div>
            </div>
            <div class="text-gray-600 font-weight-bold ml-3">
              $49,90
            </div>
          </div>
          <!-- Order 2 -->
          <div class="d-flex align-items-center justify-content-between mt-2">
            <div class="product-image align-self-start p-0 mr-3">
              <div class="p-image align-items-center"><img src="/rush-frontend/images/product-4.png" /></div>
            </div>
            <div class="col p-0 font-weight-bold font-metropolis text-truncate">
              <div class="font-weight-medium text-gray-500 dark-primary-050 text-truncate">Merlin L Couch Exclusive</div>
              <div class="text-gray-600 text-sm text-truncate">Amount: 1</div>
            </div>
            <div class="text-gray-600 font-weight-bold ml-3">
              $649,90
            </div>
          </div>
          <!-- Order 3 -->
          <div class="d-flex align-items-center justify-content-between mt-2">
            <div class="product-image align-self-start p-0 mr-3">
              <div class="p-image align-items-center"><img src="/rush-frontend/images/product-5.png" /></div>
            </div>
            <div class="col p-0 font-weight-bold font-metropolis text-truncate">
              <div class="font-weight-medium text-gray-500 dark-primary-050 text-truncate">GoldSit Modular Chair</div>
              <div class="text-gray-600 text-sm text-truncate">Amount: 2</div>
            </div>
            <div class="text-gray-600 font-weight-bold ml-3">
              $149,90
            </div>
          </div>
          
          <!-- Order 4 -->
          <div class="d-flex align-items-center justify-content-between mt-2">
            <div class="product-image align-self-start p-0 mr-3">
              <div class="p-image align-items-center"><img src="/rush-frontend/images/product-3.png" /></div>
            </div>
            <div class="col p-0 font-weight-bold font-metropolis text-truncate">
              <div class="font-weight-medium text-gray-500 dark-primary-050 text-truncate">IKEA Desk 160x80x70cm</div>
              <div class="text-gray-600 text-sm text-truncate">Amount: 1</div>
            </div>
            <div class="text-gray-600 font-weight-bold ml-3">
              $49,90
            </div>
          </div>
          <!-- Order 5 -->
          <div class="d-flex align-items-center justify-content-between mt-2">
            <div class="product-image align-self-start p-0 mr-3">
              <div class="p-image align-items-center"><img src="/rush-frontend/images/product-4.png" /></div>
            </div>
            <div class="col p-0 font-weight-bold font-metropolis text-truncate">
              <div class="font-weight-medium text-gray-500 dark-primary-050 text-truncate">Merlin L Couch Exclusive</div>
              <div class="text-gray-600 text-sm text-truncate">Amount: 1</div>
            </div>
            <div class="text-gray-600 font-weight-bold ml-3">
              $649,90
            </div>
          </div>
          <!-- Order 6 -->
          <div class="d-flex align-items-center justify-content-between mt-2">
            <div class="product-image align-self-start p-0 mr-3">
              <div class="p-image align-items-center"><img src="/rush-frontend/images/product-5.png" /></div>
            </div>
            <div class="col p-0 font-weight-bold font-metropolis text-truncate">
              <div class="font-weight-medium text-gray-500 dark-primary-050 text-truncate">GoldSit Modular Chair</div>
              <div class="text-gray-600 text-sm text-truncate">Amount: 2</div>
            </div>
            <div class="text-gray-600 font-weight-bold ml-3">
              $149,90
            </div>
          </div>
          
          <!-- Order 7 -->
          <div class="d-flex align-items-center justify-content-between mt-2">
            <div class="product-image align-self-start p-0 mr-3">
              <div class="p-image align-items-center"><img src="/rush-frontend/images/product-3.png" /></div>
            </div>
            <div class="col p-0 font-weight-bold font-metropolis text-truncate">
              <div class="font-weight-medium text-gray-500 dark-primary-050 text-truncate">IKEA Desk 160x80x70cm</div>
              <div class="text-gray-600 text-sm text-truncate">Amount: 1</div>
            </div>
            <div class="text-gray-600 font-weight-bold ml-3">
              $49,90
            </div>
          </div>
          <!-- Order 8 -->
          <div class="d-flex align-items-center justify-content-between mt-2">
            <div class="product-image align-self-start p-0 mr-3">
              <div class="p-image align-items-center"><img src="/rush-frontend/images/product-4.png" /></div>
            </div>
            <div class="col p-0 font-weight-bold font-metropolis text-truncate">
              <div class="font-weight-medium text-gray-500 dark-primary-050 text-truncate">Merlin L Couch Exclusive</div>
              <div class="text-gray-600 text-sm text-truncate">Amount: 1</div>
            </div>
            <div class="text-gray-600 font-weight-bold ml-3">
              $649,90
            </div>
          </div>
          <!-- Order 9 -->
          <div class="d-flex align-items-center justify-content-between mt-2">
            <div class="product-image align-self-start p-0 mr-3">
              <div class="p-image align-items-center"><img src="/rush-frontend/images/product-5.png" /></div>
            </div>
            <div class="col p-0 font-weight-bold font-metropolis text-truncate">
              <div class="font-weight-medium text-gray-500 dark-primary-050 text-truncate">GoldSit Modular Chair</div>
              <div class="text-gray-600 text-sm text-truncate">Amount: 2</div>
            </div>
            <div class="text-gray-600 font-weight-bold ml-3">
              $149,90
            </div>
          </div>
          <!-- Total -->
          <div class="d-flex align-items-center justify-content-between mt-4">
            <div class="col p-0 font-weight-bold text-truncate">
              <div class="font-weight-medium text-gray-500 text-truncate">Payment Method</div>
              <div class="text-gray-900 text-truncate">On Delivery</div>
            </div>
            <div class="font-weight-bold text-truncate text-right">
              <div class="font-weight-medium text-gray-500 text-truncate">Total Amount</div>
              <div class="text-gray-900 text-truncate">$149,90</div>
            </div>
          </div>
        </div>
        <!-- Item 3 -->
        <div class="listing-type-1 flex-column">
          <div class="text-primary-900 font-weight-bold text-truncate">
            ADDRESS
          </div>
          <!-- Address -->
          <div class="mt-2">
            <div class="font-weight-medium text-gray-500 text-truncate">Address</div>
            <div class="text-gray-900 font-weight-bold text-truncate">123 Main Street New York, NY 10030</div>
          </div>
          <!-- Receiver(s) -->
          <div class="mt-2">
            <div class="font-weight-medium text-gray-500 text-truncate">Receiver(s)</div>
            <div class="text-gray-900 font-weight-bold text-truncate">Slav Stanislov - Kiril Kirilov</div>
          </div>
        </div>
    </div>
  </div>
</div>