<div class="modal fade" id="privacyModal" tabindex="-1" role="dialog" aria-labelledby="privacyModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-inside">
      <button type="button" class="modal-close-button" data-dismiss="modal" aria-label="Close"></button>
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="privacyModalLabel">Privacy Policy</h5>
        </div>
        <div class="modal-body">
          <p>
            A Privacy Policy is a legal statement that specifies what the business owner does with the personal data collected from users, along with how the data is processed and for what purposes.
          </p>
          <p>
            In 1968, Council of Europe did studies on the threat of the Internet expansion as they were concerned with the effects of technology on human rights. This lead to the development of policies that were to be developed to protect personal data.
          </p>
          <p>
            This marks the start of what we know now as a "Privacy Policy." While the name "Privacy Policy" refers to the legal agreement, the concept of privacy and protecting user data is closely related.
          </p>
          <p>
            This agreement can also be known under these names:
          </p>
          <p>
            &nbsp;&nbsp;&nbsp;Privacy Statement<br/>
            &nbsp;&nbsp;&nbsp;Privacy Notice<br/>
            &nbsp;&nbsp;&nbsp;Privacy Information
          </p>
          <p>
            A Privacy Policy can be used for both your website and mobile app if it's adapted to include the platforms your business operates on.
          </p>
          <p>
            There are two main reasons why you need a Privacy Policy:
          </p>
          <p>
            ✓ They're legally required: Privacy Policies are legally required by global privacy laws if you collect or use personal information.
          </p>
          <p>
            ✓ Consumers expect to see them: Place your Privacy Policy link in your website footer, and anywhere else where you request personal information.
          </p>
          <p>
            Excerpt from TermsFeed Testimonials:
          </p>
          <p>
            "<i>
              I needed an updated Privacy Policy for my website with GDPR coming up. I didn't want to try and write one myself, so TermsFeed was really helpful. I figured it was worth the cost for me, even though I'm a small fry and don't have a big business. Thanks for making it easy.
            </i>"
          </p>  
          <p>
            &nbsp;&nbsp;&nbsp;Stephanie P.<br/>
            &nbsp;&nbsp;&nbsp;Generated a Privacy Policy
          </p>
          <p>
            Generate a Privacy Policy, 2020 up-to-date, for your business (web, mobile and others) with the Privacy Policy Generator from TermsFeed.
          </p>
          <p>
            The requirements for Privacy Policies may differ from one country to another depending on the legislation. However, most privacy laws identify the following critical points that a business must comply with when dealing with personal data:
          </p>
          <p>
            &nbsp;&nbsp;&nbsp;Notice - Data collectors must clearly disclose what they are doing with the personal information from users before collecting it.<br/>
            &nbsp;&nbsp;&nbsp;Choice - The companies collecting the data must respect the choices of users on what information they choose to provide.<br/>
            &nbsp;&nbsp;&nbsp;Access - Users should be able to view, update or request the removal of personal data collected by the company.<br/>
            &nbsp;&nbsp;&nbsp;Security - Companies are entirely responsible for the accuracy and security (keeping it properly away from unauthorized eyes and hands) of the collected personal information.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>