<div class="modal fade" id="termsModal" tabindex="-1" role="dialog" aria-labelledby="termsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-inside">
      <button type="button" class="modal-close-button" data-dismiss="modal" aria-label="Close"></button>
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="termsModalLabel">Terms of Service</h5>
        </div>
        <div class="modal-body">
          <p>
            Lorem Ipsum.....
          </p>
        </div>
      </div>
    </div>
  </div>
</div>