// Header
.navbar {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: column;
  background: $gray-050;
  height: $navbar-height;
  padding: 0;
  padding-left: 3rem;
  padding-right: 3rem;
  transition: all ease 0.5s;
  z-index: 11;

  // Promotional Alert
  .promotional-alert {
    height: $promotional-alert-height;
    line-height: $promotional-alert-height;
    margin-left: -3rem;
    margin-right: -3rem;
    background: $primary-050;
    display: flex;
    align-items: center;
    justify-content: center;

    .content {
      @include h5;
      font-weight: bold;
      font-family: $font-family-metropolis;
      color: $gray-900;
      position: relative;

      &:before,
      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        width: 169px;
        height: 190px;
        pointer-events: none;
      }
      &:before {
        background-image: url("../images/icons/confetti-l.png");
        right: 100%;
      }
      &:after {
        background-image: url("../images/icons/confetti-r.png");
        left: 100%;
      }
      @include media-breakpoint-down(sm) {
        font-size: 1.25rem;

        .btn {
          font-size: inherit;
        }
        &:before {
          right: 95%;
        }
        &:after {
          left: 95%;
        }
      }
      @include media-breakpoint-down(xs) {
        font-size: 1rem;
      }
      @include media-breakpoint-down(xxs) {
        font-size: 0.875rem;
      }
      @include media-breakpoint-down(xxxs) {
        font-size: 0.75rem;
        
        &:before {
          right: 90%;
        }
        &:after {
          left: 90%;
        }
      }
    }
    .content .text {
      @include text-truncate;
      padding-left: 1.5rem;
      padding-right: 1.5rem;

      @include media-breakpoint-down(sm) {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  .navbar-content {
    @extend .d-flex;
    @extend .justify-content-between;
    @extend .align-items-center;
    @extend .flex-grow-1;
    @extend .navbar-expand-md;
  }
  // Logo
  .navbar-brand {
    @include h4;
    font-family: $font-family-metropolis;
    font-weight: bold;
    color: inherit !important;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    
    position: relative;
    z-index: 1;
  }
  // Nav links
  .navbar-nav {
    align-items: center;

    > li {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: $navbar-content-height;
      margin-right: 3rem;
      position: relative;

      @include media-breakpoint-down(lg) {
        margin-right: 2rem;
      }
      @include media-breakpoint-down(md) {
        margin-right: 1.5rem;
      }
    }
    > li a:not(.no-link) {
      @include h6;
      font-family: $font-family-metropolis;
      font-weight: bold;
      color: $gray-500;
      margin: 0;
      padding: 0 !important;
      display: flex;
      align-items: center;

      &:after {
        display: none;
      }
      svg * {
        color: inherit;
        fill: currentColor;
      }

      .arrow {
        display: none;
        align-items: center;
        margin-right: 0.5rem;
        margin-top: -3px;

        svg {
          width: 1.625rem;
          height: 1.625rem;
        }
      }
      @include media-breakpoint-up(md) {
        .arrow {
          display: none !important;
        }
      }
      

      @include media-breakpoint-down(lg) {
        font-size: 1rem;

        svg {
          width: 24px;
        }
      }
      @include media-breakpoint-down(md) {
        font-size: 0.9rem;

        svg {
          width: 20px;
        }
      }
    }
    > li:hover > a:not(.no-link) {
      color: $primary-500;
    }
    li:hover > .dropdown-menu {
      visibility: visible !important;
      opacity: 1 !important;
    }
    > li.dropdown:after {
      content: "";
      position: fixed;
      top: $navbar-height;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 9;
      background: $gray-900;
      visibility: hidden;
      opacity: 0;
      transition: opacity ease 0.3s;
      pointer-events: none;
    }
    > li.dropdown:hover:after {
      visibility: visible !important;
      opacity: 0.3 !important;
    }
    > li.show a .arrow {
      display: flex;
    }
  }
  // Dropdown
  .navbar-nav .dropdown-menu {
    display: block;
    position: absolute;
    z-index: 10;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    visibility: hidden;
    opacity: 0;
    transition: visibility, opacity ease 0.3s;
    // Override
    border: 0;
    border-radius: 0;
    background: transparent;
    margin: 0;
    padding: 0;
    min-width: 0;
    color: inherit;
    font-size: inherit;

    &:before {
      content: "";
      width: 0;
      height: 0;
      border-left: 30px solid transparent;
      border-right: 30px solid transparent;
      border-bottom: 22px solid #fff;
      display: block;
      margin: 8px auto -9px;
    }
    .dropdown-content {
      background: #fff;
      border-radius: 24px;
      padding: 1.5rem 1rem;

      .dropdown-item {
        background: transparent;
        font-family: $font-family-metropolis;
        font-weight: bold;
        font-size: 1rem;
        color: $gray-500;
        display: flex;
        align-items: center;
        margin-bottom: 1rem;

        &:hover {
          color: $primary-500;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .scrollable-wrapper {
      height: auto;

      > .scrollable {
        position: relative;
        max-height: calc((var(--vh, 1vh) * 75) - #{$navbar-height});
      }
    }
  }
  // Mobile toggler
  .navbar-toggler {
    width: 2.5rem;
    height: 2.5rem;
    background: $primary-050;
    color: $primary-500;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: 0;
    outline: none;
    position: relative;
    z-index: 1;

    &[aria-expanded="true"] {
      background: #fff;
    }
    svg,
    svg * {
      color: inherit;
      fill: currentColor;
    }
    .lines,
    .cancel {
      display: inherit;
    }
    &[aria-expanded="false"] .cancel {
      display: none;
    }
    &[aria-expanded="true"] .lines {
      display: none;
    }

    @include media-breakpoint-up(md) {
      display: none;
    }
  }
  
  // Bottom links (mobile)
  .header-bottom-links {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    list-style: none;
    
    a.nav-link {
      font-family: $font-family-metropolis;
      font-weight: bold;
      font-size: 1rem;
      color: $primary-500;
    }
  }
  

  @include media-breakpoint-down(sm) {
    background: transparent !important;
    padding-left: 1rem;
    padding-right: 1rem;

    .navbar-collapse {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      visibility: hidden;
      opacity: 0;
      height: auto !important;
      padding: $navbar-height 1rem 1rem;

      position: fixed;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: auto;

      background: $primary-050;
      transition: all ease 0.4s;

      &:before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: $navbar-height;
        background: inherit;
        z-index: 11;
      }
      &.show {
        visibility: visible;
        opacity: 1;
      }
      &.dropdown-active {
        display: block;

        .header-bottom-links,
        .toggle-dark-mode-btn,
        .navbar-nav > li:not(.show) {
          display: none !important;
        }
      }

      .navbar-nav {
        align-items: flex-start;
        width: 100%;
      }
      .navbar-nav > li {
        margin-right: 0;
        width: 100%;
        height: auto;
      }
      .navbar-nav > li > a {
        margin-bottom: 2rem;
      }
      .navbar-nav > li.show > a {
        margin-bottom: 1rem;
      }
      .navbar-nav > li a:not(.no-link) {
        @include h4;
        color: $gray-900;

        svg {
          width: auto;
        }
      }
      // Dropdown
      .navbar-nav li:hover > .dropdown-menu {
        visibility: hidden !important;
        opacity: 0 !important;
      }
      .navbar-nav > li.dropdown:after {
        display: none;
      }
      .navbar-nav > li.show > .dropdown-menu {
        visibility: visible !important;
        opacity: 1 !important;
        height: auto;
      }
      .navbar-nav .dropdown-menu {
        position: static;
        transform: none;
        height: 0;
        overflow: hidden;

        &:before {
          display: none;
        }
        .scrollable-wrapper > .scrollable {
          max-height: none;
        }
      }
      .navbar-nav .dropdown-menu .dropdown-content {
        background: transparent;
        border-radius: 0;
        padding-left: 0;
        padding-right: 0;
      }
      

      // Privacy policy link
      .navbar-nav > li#terms-service-mobile > a,
      .navbar-nav > li#privacy-policy-mobile > a {
        display: none;
      }
      .navbar-nav > li.show#terms-service-mobile > a,
      .navbar-nav > li.show#privacy-policy-mobile > a {
        display: flex;
      }

      // Card
      .card {
        background: transparent;
      }
      // Listing
      .listing-type-1 {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}
body.navbar-active .navbar {
  z-index: 12;

  .promotional-alert {
    display: none !important;
  }
}


// Dark/Light Mode Switcher
a.toggle-dark-mode-btn {
  display: inline-block;
  border-radius: 1000px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  width: 108px;
  height: 48px;

  * {
    transition: all ease 0.5s;
  }
  svg {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: inherit;
    pointer-events: none;
  }
  #switcher-dark-mode,
  #switcher-light-mode {
    opacity: 0;
  }

  @include media-breakpoint-down(lg) {
    width: 80px;
    height: 38px;
  }
  @include media-breakpoint-down(md) {
    width: 70px;
    height: 33px;
  }
  @include media-breakpoint-down(sm) {
    width: 108px;
    height: 48px;
  }
}
body:not(.dark-mode) a.toggle-dark-mode-btn {

  #switcher-dark-mode {
    z-index: 2;
    opacity: 1;
  }
  #switcher-light-mode {

    #sun {
      transform: translateX(-40%) translateY(10%);
    }
    #clouds {
      transform: translateX(30%) translateY(-10%);
    }
  }
}

// Initial Loader
.initial-loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background: $gray-900;

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

// Map
#map-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &:empty:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid $gray-500;
    border-color: $gray-500 transparent $gray-500 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }

  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @include media-breakpoint-down(sm) {
    &:empty:before {
      top: 30%;
      left: 40%;
    }
  }
}
@include media-breakpoint-down(sm) {
  body.popup-active #map-wrapper {
    z-index: 12;
  }
  body.popup-active .main-container:not(.mobile-layout-1) > .left-column {
    position: fixed !important;
  }
}

// Map Popup
.mapbox-marker {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all ease 0.3s;

  svg {
    width: 100%;
    transition: all ease 0.3s;

    &:hover {
      transform: scale(1.1);
    }
  }

  @include media-breakpoint-down(sm) {
    max-width: 6rem;
  }
}
.mapbox-popup {
  width: 100%;
  max-height: calc(100% - #{$navbar-height} * 3);
  pointer-events: auto !important;

  .mapboxgl-popup-tip {
    display: none;
  }
  .mapboxgl-popup-close-button {
    position: fixed;
    top: 0;
    right: -3rem;
    margin-left: 5px;
    font-size: 0;
    width: 2.25rem;
    height: 2.25rem;
    background-color: transparent !important;
    background-image: url("../images/icons/popup-cancel-light.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    z-index: 1;
  }
  .mapboxgl-popup-content {
    font-family: $font-family-metropolis;
    font-size: 1rem;
    overflow: auto;
    background: #fff;
    box-shadow: 0px 0px 20px rgba(201, 204, 211, 0.6);
    border-radius: 16px;
    min-width: 300px;
    padding: 0;
    width: 100%;
  }

  @include media-breakpoint-down(sm) {
    transform: none !important;
    max-width: 100% !important;
    max-height: 100% !important;
    height: 100%;
    z-index: 2;

    .mapboxgl-popup-content {
      border-radius: 0;
      padding-top: 45px;
    }
    .mapboxgl-popup-close-button {
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }
}

// Listing Component
.listing-type-1 {
  display: flex;
  padding: 1.5rem 1rem;
  border-bottom: 1px solid $gray-200;
  transition: border-color ease 0.5s;

  &:not(.last-border):last-child {
    border-bottom: 0;
  }
  &.border-2 {
    border-bottom-width: 2px;
  }
  &.more-padding {
    padding-left: 1.75rem;
    padding-right: 1.75rem;
  }
  .product-image {
    position: relative;
    padding-right: 1.2rem;
    padding-bottom: 0.5rem;
    margin-right: 0.5rem;
    
    .p-image {
      width: 3rem;
      height: 3rem;
      border-radius: 100%;
      background: #fff;
      overflow: hidden;
      display: flex;
      align-items: flex-end;
      justify-content: center;
    }
    .product-image-courrier {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 100%;
      background: $gray-050;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .product-image-courrier-2 {
      width: 3.5rem;
      height: 3.5rem;
      border-radius: 100%;
      background: $gray-050;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.listing-type-2 {
  display: flex;
  overflow: hidden;
  padding-bottom: 2.5rem;

  &:last-child {
    padding-bottom: 0;
  }
  .date-box {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 4px;
    padding: 0.25rem;
    background: $gray-050;
    font-family: $font-family-metropolis;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: bold;
    text-align: center;
    position: relative;

    &.primary {
      background: $primary-100;
      color: $primary-500;
    }
    &.danger {
      background: $danger-light;
      color: #fff;
    }
    &.success {
      background: $success-light;
      color: #fff;
    }
    &.warning {
      background: $warning-light;
      color: #fff;
    }

    &:after {
      content: "";
      width: 2px;
      height: 2.5rem;
      background: $gray-050;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      margin: auto;
      transition: inherit;
    }
  }
  .date-box.circle {
    background: transparent !important;

    span {
      border-radius: 100%;
      background: $gray-050;
      width: 0.75rem;
      height: 0.75rem;
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      margin: auto;
      transform: translateY(-50%);

      &:before, &:after {
        content: "";
        width: 2px;
        height: 150%;
        background: inherit;
        position: absolute;
        bottom: 100%;
        left: 0;
        right: 0;
        margin: auto;
      }
      &:after {
        bottom: auto;
        top: 100%;
      }
    }
  }
}

/* Notification */
.notification-wrapper {
  cursor: pointer;
  background: $primary-050;
  border-radius: 8px;
  height: 3rem;
  width: 3rem;
  color: $gray-900;
  overflow: hidden;
  transition: all 0.5s linear;
  position: absolute;
  z-index: 10;
  bottom: 3rem;
  right: 2rem;

  .notification {
    position: relative;
  }
  .notification-close {
    position: absolute;
    top: -2px;
    right: -20px;
    visibility: hidden;
    opacity: 0;

    img {
      width: 2rem;
      height: 2rem;
    }
  }
  .notification-icon { 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 3rem;
    float: left;

    svg {
      width: 2rem;
      height: 2rem;
    }
    svg * {
      color: inherit;
      fill: currentColor;
    }
  }
  .notification-text {
    visibility: hidden;
    opacity: 0;
    transition: all 0.1s ease;
  }
  .notification-title {
    @include h6;
    font-family: $font-family-metropolis;
    font-weight: bold;
    padding-top: 0.3rem;
    display: block;
  }
  .notification-description {
    margin-top: 0.5rem;
    color: $gray-600;
  }
  &.active {
    height: 8.25rem;
    width: 27.5rem;
    border-radius: 16px;
    padding: 1.5rem 2rem;

    .notification-text {
      visibility: visible;
      opacity: 1;
      transition: all 0.3s ease 0.4s;
    }
    .notification-close {
      visibility: visible;
      opacity: 1;
      transition: all 0.3s ease 0.4s;
    }
    .notification-icon {
      width: auto;
      height: auto;
      margin-right: 0.4rem;
    }
  }

  @include media-breakpoint-down(sm) {
    position: fixed;
    bottom: auto;
    right: auto;
    top: 0;
    left: 1rem;
    margin-top: $navbar-height;

    &.active {
      width: 22.5rem;
      height: 6.75rem;
      padding: 1rem;
        
      .notification-close img,
      .notification-icon svg {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
    .notification-close {
      top: -6px;
      right: -10px;
    }
    .notification-title {
      padding-top: 0;
    }
    .notification-description {
      @include text-sm;
    }
  }
  @include media-breakpoint-down(xxs) {

    &.active {
      width: 22.5rem;
      width: 91vw;
      width: calc(100vw - 2.5rem);
    }
  }
}

/* Related Order */
.product-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 8px;
  border: 2px solid $gray-100;
  overflow: hidden;

  .product-card-image {
    position: relative;
    width: 100%;
    padding-top: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .product-card-discount {
      position: absolute;
      top: 4px;
      right: 4px;
      border-radius: 4px;
      padding: 0.25rem;
      font-family: $font-family-metropolis;
      font-weight: bold;
      font-size: 0.75rem;
      line-height: 1;
    }
  }
  .product-card-summary {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    font-family: $font-family-metropolis;
    font-weight: bold;
    padding: 0.75rem;
  }
}

/* Overlay on card */
.overlap-dialog {
  position: absolute;
  bottom: 3.5rem;
  left: 0;
  width: 100%;
  height: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 2;
  transition-property: height, background-color, border-color !important;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $gray-900;
    opacity: 0.8;
    z-index: -1;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }
  &.show {
    height: calc(100% - 3.5rem);
  }

  @include media-breakpoint-down(sm) {
    position: fixed;
    bottom: 0;
    z-index: 3;

    &:before {
      border-radius: 0;
    }
    &.show {
      height: 100%;
    }
    .card .card-body {
      padding-bottom: 2.5rem;
    }
  }
}
@include media-breakpoint-up(sm){
  .block:not(.active) .overlap-dialog {
    display: none !important;
  }
}

// Tracking Order
.tracking-order-animation-wrapper {
  display: none;

  .free-anim {
    width: 8rem;
    height: 8rem;
    margin: auto;
  }
  .premium-anim {
    width: 7rem;
    height: 7rem;
    margin: auto;
    display: none;
  }

  &.premium-active {

    .free-anim {
      display: none !important;
    }
    .premium-anim.light {
      display: block;
    }
  }
}

// Multiple Shipments
#multiple-shipments {
  display: none;
}

// Remember me
.remember-me {

  .close-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
  .close-btn svg,
  .close-btn svg * {
    color: inherit;
    fill: currentColor;
  }

  @include media-breakpoint-down(sm){
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-height: none !important;
    background: rgba(0, 0, 0, 0.6);

    .card {
      position: absolute;
      top: 50%;
      left: 1rem;
      right: 1rem;
      width: auto;
      transform: translateY(-50%);
    }
  }
}

// Modals
.modal-backdrop.show {
  opacity: 0.8;
}
.modal {

  .modal-close-button {
    border: 0;
    position: absolute;
    top: 0;
    right: -3rem;
    margin-left: 5px;
    font-size: 0;
    width: 2.25rem;
    height: 2.25rem;
    background-color: transparent !important;
    background-image: url("../images/icons/popup-cancel-light.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    z-index: 1;
    pointer-events: auto;
    cursor: pointer;
    
    @include media-breakpoint-down(sm) {
      width: 1.75rem;
      height: 1.75rem;
      right: -2rem;
    }
  }
  .modal-inside {
    position: relative;
    width: 100%;
    margin: auto;

    @include media-breakpoint-down(sm) {
      width: 85%;
    }
  }
  .modal-content {
    font-family: $font-family-inter;
    font-size: 1rem;
    overflow: auto;
    background: $primary-050;
    box-shadow: none;
    border-radius: 16px;
    padding: 3rem;
    width: 100%;
    border: 0;
    max-height: 60vh;
    line-height: 1.4;
  }
  .modal-header {
    margin-bottom: 1rem;
  }
  .modal-header,
  .modal-body,
  .modal-footer {
    border: 0;
    padding: 0;
  }
  .modal-title {
    @include h4;
    font-family: $font-family-metropolis;
    font-weight: bold;
  }

  // Notification Management
  &#notificationManagementModal .modal-body{
    display: flex;
    flex-direction: column;
  }

  @include media-breakpoint-down(sm) {

    // Notification Management
    &#notificationManagementModal {
      padding: 0 !important;

      .modal-dialog {
        max-width: 100%;
        min-height: 0;
        margin: 0;
        height: 100%;
        display: block;
      }
      .modal-dialog .modal-inside {
        width: 100%;
        height: 100%;
      }
      .modal-content {
        border-radius: 0;
        max-height: 100%;
        height: 100%;
      }
      .modal-close-button {
        right: 1rem;
        top: 1rem;
      }
    }
  }
}

// Toast
.toast {
  top: $navbar-height;
  position: absolute;
  z-index: 12;
  left: 0;
  right: 0;
  max-width: 100%;
  margin: 10px auto 0;
  background: transparent;
  border: 0;
  box-shadow: none;
  padding: 0;
  text-align: center;
  font-family: $font-family-metropolis;
  font-weight: bold;
  @include h6;

  .toast-body {
    display: inline-block;
    background: #FFFFFF;
    border-radius: 50px;
    padding: 0.75rem 1.5rem;
  }

  @include media-breakpoint-down(sm) {
    top: $navbar-content-height / 2;
    margin-top: 0;
    transform: translateY(-50%);
  }
}